AI_PROVIDER=gemini
GEMINI_API_KEY=
SUNOR_API_KEY=
MUSIC_PROVIDER=sunor
MUSIC_API_URL=https://sunor.cc/api/v1
MUSIC_MODEL=suno-v6
SASPAY_API_KEY=sk_live_CF7e31LlcQjfRMdmPDbM2UtTmT__FQHsVsXvauez5qg
SASPAY_SECRET_KEY=sk_live_CF7e31LlcQjfRMdmPDbM2UtTmT__FQHsVsXvauez5qg
SASPAY_WEBHOOK_SECRET=ce1cbaf1598a05c29cb316f2058b3ab793e8626ec44899e733868ff5a0649847
SASPAY_BASE_URL=https://api.saspay.me/api/v1
STORAGE_URL=
STORAGE_KEY=
AUTH_SECRET=
